*{box-sizing: border-box;margin: 0}
.main{width: 60%;background: #80808038;}
.info{margin-top: 10px;padding: 0}
.info1{background:cadetblue;padding:15px}
.info2{background: brown;padding:25px;}
.info3{background: darkcyan;padding: 20px;padding-bottom: 70px;}
.info3 h4{ color: white;text-align:center;}
.info3 p{color: white;text-align: right;}
.info3 i{color: white;margin: 10px auto;margin-left: 35%;font-size: 50px}
.info1 img{max-width:60%;height: 150px;margin: 20px auto;margin-left: 17%;border-radius: 50%}
.info1 p{text-align: center;font-weight: bold;font-size: 20px;color: white;}
.ico span , .ico2 span,.ico3 span ,.ico4 span,.ico5 span{background: #5b6da0;padding: 10px 50px;font-weight: 600;border-radius: 10px;color: white;}
.ico i ,.ico2 i ,.ico3 i ,.ico4 i ,.ico5 i{margin-right: 20px;font-size: 40px;width: 50px;height: 50px;text-align: center;line-height: 50px;border-radius: 50%;
border: 2px solid;background:#5b6da0;color: white;position: relative;top: 10px;left: -10px;}
.mainh{background: red;width: 30%;text-align: right;color: white;height: 50px;border-radius: 10px;line-height: 40px;}
.first{margin-right:200px; margin-top: -180px;height:130px;border-left: 2px solid white;}
.cert1 img{margin: 10px auto;max-width: 20%;margin-left:17%;}
.cert1 p{text-align:center;font-weight: bold}
.cert1{ margin-top: -180px;}
.info2 ul li{list-style-type: none;margin-bottom:50px;width: 100%;position: relative;color: white;text-align: right;right:20px;}
.info2 li i{margin-left: ;font-size:20px;width: 40px;text-align: center;line-height: 40px;height: 40px;
    color: white;  border-radius: 50%;border: 2px solid white;position: absolute;right: -70px;top:-7px;}
.info2 li .fa-mobile{font-size: 35px}
.progress{margin-bottom: 10px;}
.cert2{text-align: right;}
.sec{margin-top: -400px;}
.sec li{text-align: right;}
.sec1{margin-right: 200px;}
.ico3{margin-top: -220px;margin-right: -100px;}
.third1{margin-top: -150px;}
.third1 img{max-width: 100%;margin: 10px auto;margin-left:17%;border-radius: 50%}
.third1 p{text-align: right;font-weight: 600;}
.cert4{ margin-top: -320px;margin-right: -60px;}
.four1{margin-right: 200px;margin-top: -250px;}
.four2{margin-top: -250px;}
.four1 p ,.four2 p{text-align: right;font-weight: bold;}
.four1 img ,.four2 img{ margin-bottom: 10px;margin-left:50%;}
.ico5{margin-right: -120px;margin-top: -150px;}
.four ul{margin-right: -250px;margin-top: -70px;}
